<h2> {{ contact.firstName }} {{ contact.lastName }} </h2>
<div class="form-group">
    <label for="firstName">First name</label>
    <input type="text" id="firstName" name="firstName" class="firstName form-control" ng-model="contact.firstName">
</div>

<div class="form-group">
    <label for="lastName">Last name</label>
    <input type="text" id="lastName" name="lastName" class="lastName form-control" ng-model="contact.lastName">
</div>

<div class="form-group">
    <label for="email">Email</label>
    <input type="text" id="email" name="email" class="email form-control"  ng-model="contact.email">
</div>

<div class="form-group">
    <button ng-click="update()" class="btn btn-primary" type="button" name="update"> Update </button>
    <button ng-click="delete()" class="btn btn-danger" type="button" name="delete"> Delete </button>
</div>
